# YouTube API Credentials
YOUTUBE_CLIENT_ID=your_client_id_here
YOUTUBE_CLIENT_SECRET=your_client_secret_here
YOUTUBE_REDIRECT_URI=your_redirect_uri_here
YOUTUBE_REFRESH_TOKEN_MIU=refresh_token_for_miu09622

# Google API Credentials
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Airtable Credentials
AIRTABLE_BASE_ID=your_airtable_base_id
AIRTABLE_TOKEN_ID=your_airtable_token
AIRTABLE_TABLE_NAME=Queue
AIRTABLE_TABLE_ID=your_airtable_table_id

# Google Drive
DRIVE_FOLDER_ID=your_drive_folder_id 